body {
    background-color: #454545;
}

header {
    font-size: 32px;
    color: #FF6000;
    padding: 25px 50px;
}

.sidebar{
    padding-left: 50px;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.book-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.book-card {
    background-color: #FFE6C7;
    height: 200px;
    width: 200px;
    border: 3px solid #FFA559;
    border-radius: 5px;
}

.remove-button {
    border: none;
    background-color: #FFE6C7;
}

.remove-button img{
    height: 30px;
    width: 30px;
    filter: invert(45%) sepia(55%) saturate(3079%) hue-rotate(188deg) brightness(94%) contrast(90%); 
}

.remove-button img:hover{
    filter: invert(45%) sepia(90%) saturate(3079%) hue-rotate(125deg) brightness(94%) contrast(90%); 
}