body {
    margin: 0;
    background-color: #c5c5c5;
    
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    min-height: 100vh;
}

header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    font-size: 50px;
    color: #FF6000;
    padding: 25px 50px;
    background-color: #454545;
    box-shadow: 0px 8px 6px rgb(138, 138, 138);
}

.sidebar{
    color: #FF6000;
    background-color: #454545;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 25px 50px 0 50px;

    display: flex;
    flex-direction: column;
    background-size: cover;
}

.open-dialog {
    border: 3px solid #FFA559;
    border-radius: 5px;
    padding: 15px 40px;
    color: #454545;
    background-color: #FFE6C7;
    font-size: 20px;
}

.book-container{
    padding: 25px 0 0 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book-card {
    background-color: #FFE6C7;
    height: 200px;
    width: 200px;
    border: 3px solid #FFA559;
    border-radius: 5px;
    box-shadow: 5px 8px 6px rgb(223, 125, 14);
}

.remove-button {
    border: none;
    background-color: #FFE6C7;
}

.remove-button img{
    height: 30px;
    width: 30px;
    filter: invert(45%) sepia(55%) saturate(3079%) hue-rotate(188deg) brightness(94%) contrast(90%); 
}

.remove-button img:hover{
    filter: invert(45%) sepia(90%) saturate(3079%) hue-rotate(125deg) brightness(94%) contrast(90%); 
}